<header class="site-header">
  <nav class="nav">
    <a class="brand" href="index.html">New Horizon</a>
    <ul class="nav-links">
      <li><a data-nav href="index.html">Home</a></li>
      <li><a data-nav href="pages/exercises.html">Exercises</a></li>
      <li><a data-nav href="pages/resources.html">Resources</a></li>
      <li><a data-nav href="pages/calendar.html">Calendar</a></li>
      <li><a data-nav href="pages/forum.html">Forum</a></li>
      <li><a data-nav href="pages/opportunities.html">Opportunities</a></li>
      <li><a data-nav href="pages/about.html">About &amp; Mission</a></li>
      <li><a data-nav href="pages/contact.html">Contact</a></li>
      <li><a data-nav href="pages/account.html">Account</a></li>
    </ul>
  </nav>
</header>
